{% extends '../layout.html' %}
{% block content %}

<div class="row">
	<div class="col-2 col-lg-10 col-md-8 menu-tool">
		<div class="col-12 title-menu">Admin Menu</div>
		<a href="/homeadmin"   class="col-12">Penjualan<span class="notifadmin bcbeli"></span></a>
		<a href="/barangadmin" class="col-12">Daftar Barang</a>
		<a href="/masukadmin"  class="col-12 active">Barang Masuk<span class="notifadmin bcmasuk"></span></a>
		<a href="/laporan"     class="col-12">Laporan</a>
		<a href="/member"      class="col-12">Member</a>
	</div>
	<div class="col-9 col-lg-10 col-md-8 main-admin">
		<h3 class="col-5">History Barang Masuk</h3>
		<h4 class="col-7">Total Barang Masuk : <span class="ttma">{{ total }}</span> Barang</h4>
		<div class="col-12" id="hima">
			{% for dt in data %}
				<a href="editbarang/admin/{{ dt.id_barang }}" class="col-12 member" data-id="{{ dt.id_barang }}">Distributor menambahkan <i>{{ dt.nama }}</i><div class="col-12 timm">Pada : {{ dt.waktu }}</div></a>
			{% endfor %}
		</div>
	</div>
</div>

<script src="js/masuk.js"></script>
<script src="js/bcmasuk.js"></script>
<script src="js/beli.js"></script>
<script src="js/bcbeli.js"></script>

{% endblock %}