{% extends '../layout.html' %}
{% block content %}

<div class="row">
	<div class="col-2 col-lg-10 col-md-8 menu-tool">
		<div class="col-12 title-menu">User Menu</div>
		<a href="/homeuser"   class="col-12">Penjualan<span class="notifadmin bcbeli"></span></a>
		<a href="/pembelian"  class="col-12 active">Pembelian</a>
		<a href="/tambahuser" class="col-12">Tambah Barang</a>
		<a href="/baranguser" class="col-12">Daftar Barang</a>
		<a href="/pesanuser"  class="col-12">Pesan<span class="notifadmin bcpesan"></span></a>
		<a href="/teman"      class="col-12">Teman</a>
		<a href="/memberuser" class="col-12">Member</a>
		<a href="/biodata" class="col-12">Biodata</a>
	</div>
	<div class="col-9 col-lg-7 col-md-8 main-admin">
		<h3 data-me="{{ me }}">History Pembelian</h3>

		{% for dt in data %}
			<div class="col-12 member">
				<div class="col-7 push-1 listcom">
					Anda Melakukan Pembelian {{ dt.nama }}
					<div class="col-12 timm">Pada : {{ dt.waktu }}</div>
				</div>
				{% if dt.ir == 0 %}
					<a href="/confirm/{{ dt.id }}" class="col-3 fol">Konfirmasi Pembayaran</a>
				{% else %}
					<a href="/notajualuser/{{ dt.id }}" class="col-3 fol fsh">&#10003; Sudah dikonfirmasi</a>
				{% endif %}
			</div>
		{% endfor %}

	</div>
</div>

<script src="js/bcpesan.js"></script>
<script src="js/bcbeli.js"></script>

{% endblock %}