{% extends '../layout.html' %}
{% block content %}

<div class="row">
	<div class="col-2 col-lg-10 col-md-8 menu-tool">
		<div class="col-12 title-menu">User Menu</div>
		<a href="/homeuser"   class="col-12">Penjualan<span class="notifadmin bcbeli"></span></a>
		<a href="/pembelian"  class="col-12">Pembelian</a>
		<a href="/tambahuser" class="col-12">Tambah Barang</a>
		<a href="/baranguser" class="col-12">Daftar Barang</a>
		<a href="/pesanuser"  class="col-12">Pesan<span class="notifadmin bcpesan"></span></a>
		<a href="/teman"      class="col-12 active">Teman</a>
		<a href="/memberuser" class="col-12">Member</a>
		<a href="/biodata" class="col-12">Biodata</a>
	</div>
	<div class="col-9 col-lg-7 col-md-8 main-admin">
		<h3 data-me="{{ me }}">Daftar Teman yang diikuti</h3>
		<div class="col-12">
			<form method="POST">
				<input type="text" class="col-4" name="search" placeholder="Cari Teman">
				<input type="submit" class="col-2" value="Search">
			</form>
		</div>

		<div class="col-12 bot2"><i>{{ msg }}</i></div>

			{% set i = 1 %}
			{% if post %}
				{% for dt in data %}
					{% for id in ids %}
						{% if dt.id == id.id_teman  %}
							<div class="col-12 member">
								<a href="/profile/{{ dt.id }}" class="col-6 listcom">{{ i }}. {{ dt.nama }}</a>
							</div>
						{% set i = i + 1 %}
						{% endif %}
					{% endfor %}
				{% endfor %}

			{% else %}
				{% for dt in data %}

				<div class="col-12 member">
					<a href="/profile/{{ dt.id_teman }}" class="col-6 listcom">{{ i }}. {{ dt.teman }}</a>
				</div>
				{% set i = i + 1 %}
				{% endfor %}
			{% endif %}

	</div>
</div>

<script src="js/bcpesan.js"></script>
<script src="js/bcbeli.js"></script>

{% endblock %}