{% extends '../layout.html' %}
{% block content %}

<div class="row">
	<div class="col-2 col-lg-10 col-md-8 menu-tool">
		<div class="col-12 title-menu dstm">Distributor Menu</div>
		<a href="/homedistri"   class="col-12">Penjualan<span class="notifadmin bcbeli"></span></a>
		<a href="/tambahdistri" class="col-12">Tambah Barang</a>
		<a href="/barangdistri" class="col-12 active">Daftar Barang</a>
		<a href="/lapordistri"  class="col-12">Laporan</a>
	</div>
	<div class="col-9 col-lg-10 col-md-8 main-admin">
		<div class="col-12">
			<form method="POST">
				<input type="text" class="col-4" name="search" placeholder="Cari Barang">
				<input type="submit" class="col-2" value="Search">
			</form>
		</div>

			<div class="col-12">{{ msg }}</div>
			
			{% for dt in data %}
				{% if dt.nama.length > 20 %}
					{% set dt.nama = dt.nama.substr(0, 20) + '...' %}
				{% endif %}
				
				<div class="col-3 col-lg-5 dftad">
					<div class="col-12 barang-cont">
						<div class="col-12"><img src="{{ dt.img }}"></div>
						<div class="col-12 namabar">{{ dt.nama }}</div>
						<div class="col-12 hargabar">Rp. {{ dt.harga }}</div>					
						<div class="col-12 penbar">{{ dt.penjual }}</div>
						<a href="/editbarang/distri/{{ dt.id }}" class="col-6 col-lg-10 buy-bt">Edit</a>
						<a href="/deletebarang/distri/{{ dt.id }}" class="col-6 col-lg-10 del-bt" onclick="return confirm('Apakah anda yakin ingin menghapus barang ini?')">Hapus</a>
					</div>
				</div>
			{% endfor %}

	</div>
</div>

<script src="js/beli.js"></script>
<script src="js/bcbeli.js"></script>


{% endblock %}