{% extends '../layout.html' %}
{% block content %}

<div class="row">
	<div class="col-2 col-lg-10 col-md-8 menu-tool">
		<div class="col-12 title-menu dstm">Distributor Menu</div>
		<a href="/homedistri"   class="col-12 active">Penjualan<span class="notifadmin bcbeli"></span></a>
		<a href="/tambahdistri" class="col-12">Tambah Barang</a>
		<a href="/barangdistri" class="col-12">Daftar Barang</a>
		<a href="/lapordistri"  class="col-12">Laporan</a>
	</div>
	<div class="col-9 col-lg-7 col-md-8 main-admin">
		<h3>Nota Pembelian Barang<hr></h3>

		<div class="col-7">
				<table border="0">
					<tr>
						<td style="width: 25%">Nama Barang</td>
						<td style="width: 5%">:</td>
						<td id="barang" data-name="{{ data.nama }}">{{ data.nama }}</td>
					</tr>
					<tr>
						<td>Jumlah</td>
						<td>:</td>
						<td>{{ data.qty }}</td>
					</tr>
					<tr>
						<td>Harga</td>
						<td>:</td>
						<td>Rp. {{ data.harga }}</td>
					</tr>
					<tr>
						<td>Ongkos Kirim</td>
						<td>:</td>
						<td>Rp. {{ data.ongkir }}</td>
					</tr>
					{% set total = data.harga * data.qty + data.ongkir %}
					<tr>
						<td>Total</td>
						<td>:</td>
						<td>Rp. {{ total }}</td>
					</tr>
					<tr>
						<td>Alamat</td>
						<td>:</td>
						<td>{{ data.alamat }}</td>
					</tr>
					<tr>
						<td>Pemesan</td>
						<td>:</td>
						<td><a href="/profile/{{ data.id_pemesan }}">{{ data.pemesan }}</a></td>
					</tr>
					<tr>
						<td>Tanggal</td>
						<td>:</td>
						<td>{{ data.waktu }}</td>
					</tr>
				</table>
		</div> 

	</div>
</div>

<script src="../js/bcpesan.js"></script>
<script src="../js/beli.js"></script>
<script src="../js/bcbeli.js"></script>


{% endblock %}